
.header {
    background-color: #17252A;
    margin: auto;
    color: #FEFFFF;
    padding: 40px;
    text-align: center;
    font-size: 24px;
    padding-top:80px;
}

.header__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 80px;
    border: 5px solid black;
    margin-bottom: 40px;
}

.js-picture--removed{
    display: none;
}

.header__text{
    width:60%;
    margin: auto;
}