html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.header {
    text-align: center;
}

.header__h{
    box-shadow: 0px 0px 32px 13px rgba(0, 16, 255, 1);
}

.header__text {
    color: #222222;
}

.nav {
    text-transform: capitalize;
    background-color: teal;
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
}

.nav__list {
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    display: inline-block;
}

.nav__ul {
    width: 100%;
    padding-right: 40px;
}

.flex {
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border: 5px solid black;
    display: flex;
    width: 600px;
    flex-flow: column wrap;
    justify-content: center;
}

.flex__item {
    background-color: teal;
    color: white;
    padding: 20px;
    margin: 10px;
}