.table{
    border-collapse: collapse;
}
.table__caption{
    margin-bottom: 15px;
    font-weight: 1000;
}
.table__cell{
    border:2px solid black;
    padding: 15px;
    text-align: center;
    background-color: #3AAFA9;
    color: #17252A;
}

.table__cell--header{
    background-color: #17252A;
    font-size: 20px;
    color: #eee;
}

.table__row:hover{
    background-color: #66a9c2;
}